@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* VARIABLES */

:root {
  --hl-color: #3aafa9;
  --hl-color-dark: #2b7a78;
  --hl-color-alt: rgb(57, 159, 154);
  --near-black: #17252a;

  --fg-color-darker: #393232;
  --hl-color-light: #e5f5ee;
  --link-color: #43acdc;
  --red: #e83939;
  --red-darker: #bd1b1b;

  --fg-color: #feffff;
  --card-bg: #f2f2f2;
  --card-fg: #17252a;
  --bg-color: #feffff;

  --dark-mode-bg: #374057;
  --dark-card-bg: #4c5878;
  --dark-fg-color: #feffff;
}

/* CUSTOM CLASSES */

.text-white {
  color: var(--fg-color);
}

.text-black {
  color: var(--near-black);
}

.custom-card-border {
  border: 2px solid var(--hl-color);
}

.darken-image {
  background-color: rgba(0, 0, 0, 0.5);
}

.custom-nav-btn {
  padding: 2px 20px;
  background-color: transparent;
}
.mh-tips {
  border: 2px solid var(--hl-color);
  height: auto;
  padding: 50px auto;
}
.testimonials-body {
  background-color: var(--dark-mode-bg);
  color: var(--dark-fg-color);
}
.accordion .accordion-dark {
  background-color: var(--dark-card-bg);
  color: var(--dark-fg-color);
}
.spacer {
  margin: 20px 0;
}
/* GENERAL */

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: var(--bg-color);
  color: var(--near-black);
}

#home {
  margin-top: calc(100vh / 2 - 56px);
  z-index: 2;
}
body .main-page {
  background-color: var(--fg-color);
  color: var(--near-black);
}
body .main-page.dark-mode {
  background-color: var(--dark-mode-bg);
  color: var(--dark-fg-color);
}
body * {
  border-radius: 0;
  font-family: 'Lora', serif;
}

body {
  padding-top: 56px;
  color: var(--near-black);
  caret-color: transparent;
}

p {
  font-size: 1.1rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat', serif;
}
h2 {
  padding-bottom: 30px;
}

a {
  color: var(--hl-color-dark);
}

.btn-primary,
.btn-secondary {
  border-radius: 50px;
  padding: 5px 20px;
  background-color: var(--hl-color);
  color: var(--fg-color);
  border: 0;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: var(--hl-color-dark);
}
.btn-primary:active {
  background-color: var(--hl-color-dark);
}
.btn-primary:focus {
  background-color: var(--hl-color-dark);
}
.btn-primary:active {
  background-color: var(--hl-color-alt) !important;
}
::selection {
  background-color: var(--hl-color);
  color: var(--fg-color);
}

.car-body {
  color: var(--near-black);
}
.dark-card {
  background-color: var(--dark-card-bg);
  color: var(--dark-fg-color);
}

/* Navbar */

#navbar {
  background-color: var(--hl-color-dark);
}

#navbar .dropdown-menu a:hover {
  background-color: var(--hl-color);
  color: var(--fg-color);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

#navbar .dropdown-menu {
  background-color: var(--fg-color);
  color: var (--hl-color);
  border: 0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

#navbar .dropdown-item {
  color: var(--near-black);
}
#navbar .btn-primary {
  background-color: var(--hl-color);
}
#navbar .btn-primary:hover {
  background-color: var(--hl-color-alt);
}

/* Off-screen menu */
#navbar .offcanvas-body {
  z-index: 1000;
}
#navbar .offcanvas-header {
  background-color: var(--hl-color-dark);
  color: var(--fg-color);
}

#navbar .offcanvas-body {
  background-color: var(--hl-color-dark);
  color: var(--fg-color);
}

/* .dropdown-item {
  --bs-dropdown-link-disabled-color: var(--hl-color);
} */

/* HEADER */

#header {
  background-color: var(--hl-color);
  background: url('../images/wp10945479.webp') no-repeat center center / cover;
  padding: 0rem 0;
  position: fixed;
  padding-top: 40px;
  height: calc(100vh / 2 - 56px);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

#header h1 {
  color: var(--fg-color);
}

#header h2 {
  color: var(--near-black);
  letter-spacing: 1rem;
}

#header .fa-shield-heart {
  font-size: 14rem;
  color: var(--fg-color);
  margin: 15px 0;
}

.card-overlay {
  margin: 40px 0;
}
.card-overlay img {
  aspect-ratio: 9 / 4;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.card-overlay img:hover {
  transform: scale(1.1);
}

.card-header,
.card-footer {
  background-color: var(--hl-color);
  color: var(--fg-color);
}

.card-header a,
.card-footer a {
  color: var(--fg-color);
}

#programmes p {
  font-size: 0.95rem;
}

section .btn {
  position: absolute;
  bottom: 10px;
  text-align: center;
  left: 10px;
}

section {
  padding-top: 50px;
}

/* LEARNING PAGE */

.accordion {
  background-color: var(--fg-color);
  border: 0;
}
.accordion h2 {
  padding-top: 0px;
  padding-bottom: 0px;
}
.accordion-button::after {
  color: var(--hl-color-dark);
  background-color: var(--card-bg);
}
.accordion button {
  background-color: var(--card-bg);
  color: var(--near-black);
}
.accordion button {
  background-color: var(--card-bg);
  color: var(--card-fg);
}
.nav .nav-item {
  background-color: var(--hl-color-light) !important;
}
.accordion-button:focus {
  box-shadow: 0 0 0 0rem rgba(58, 175, 169, 0.5);
}

.accordion-button:not(.collapsed) {
  background-color: var(--hl-color);
  color: var(--fg-color);
}

.accordion li {
  text-align: left;
}

/* INFO */

#info .card .card-body {
  padding-bottom: 30px;
}

/* Caring page */

.caring-img {
  aspect-ratio: 3/1;
  object-fit: cover;
  position: relative;
  overflow: hidden;
}

.caring-img img {
  transition: transform 0.5s ease-in-out;
}

.caring-img img:hover {
  transform: scale(1.03);
}

.caring-cards .card {
  background-color: var(--fg-color);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border: 0;
}

.profile {
  background-color: var(--hl-color);
  color: var(--fg-color);
}

/* Testimonials */

#testimonials div div.row {
  padding-top: 40px !important;
}
#testimonials .btn {
  position: relative;
  bottom: 10px;
  text-align: center;
  left: 10px;
}
#testimonials p ~ .share-btn {
  position: absolute;
  text-align: center;
}
#testimonials .modal,
#testimonials select,
#testimonials option {
  color: var(--near-black);
  border: 0;
}

#testimonials .modal-header {
  background-color: var(--hl-color);
  color: var(--fg-color);
}

#testimonials input,
#testimonials select,
#testimonials option {
  border-radius: 50px;
  border: 0;
  padding: 5px 20px;
  background-color: var(--fg-color);
  color: var(--near-black);
  transition: 0.3s ease-in-out;
  /* transition: box-shadow 0.3s ease; */
}

#testimonials textarea {
  transition: 0.3s ease-in-out;
  transition: inset 0.3s ease-in-out;
  border: 0;
}

#testimonials input:hover,
#testimonials select:hover,
#testimonials textarea:hover {
  /* box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.15) !important; */
  box-shadow: inset 0 0.15rem 0.2rem rgba(0, 0, 0, 0.15) !important;
  transition: box-shadow 0.3s ease;
}

#testimonials input:focus,
#testimonials select:focus,
#testimonials textarea:focus {
  /* box-shadow: 0 0.1rem 0.3rem var(--hl-color) !important; */
  box-shadow: inset 0 0.2rem 0.3rem rgba(0, 0, 0, 0.15) !important;
}

#testimonials .btn-secondary {
  background-color: var(--red);
  color: var(--fg-color);
}

#testimonials .btn-secondary:hover {
  background-color: var(--red-darker);
  color: var(--fg-color);
}

/* Nav Tabs */

#myTab .nav-dark {
  color: var(--hl-color);
  color: var(--fg-color);
}
#myTab .active {
  background-color: var(--hl-color);
  color: var(--fg-color);
}
#myTab nav-link {
  color: var(--hl-color-dark);
}
#myTab button {
  color: var(--near-black);
  /* color: var(--near-black); */
}
#myTab button:hover {
  background-color: var(--hl-color);
  color: var(--fg-color);
}

.nav-item {
  border: 0;
}

.nav-tabs {
  border-bottom: 2px solid var(--hl-color);
}

.nav-tabs li {
  margin-right: 2px;
}

.tab-content {
  border: 2px solid var(--hl-color);
  margin-top: 0px;
}

/* FOOTER */

#footer {
  background-color: var(--hl-color-dark);
  color: var(--fg-color);
  padding: 3rem;
  z-index: 9998;
}

#footer a {
  color: var(--fg-color);
  transition: 0.2s ease-in-out;
}

#footer a:hover {
  color: var(--hl-color);
}
#footer button:hover {
  background-color: var(--hl-color-alt);
}
#footer button:focus {
  background-color: var(--hl-color-alt);
}

/* #footer .btn-primary:hover {
  background-color: var(--fg-color);
  color: var(--near-black);
} */

#footer .modal-footer .btn-primary:hover {
  background-color: var(--hl-color-dark);
  color: var(--fg-color);
}

#footer .btn-secondary {
  background-color: var(--red);
}

#footer .btn-secondary:hover {
  background-color: var(--red-darker);
}

#footer h4 {
  letter-spacing: 0.5rem;
}

#footer section h2 {
  padding-bottom: 10px;
}

#footer .btn-secondary {
  background-color: var(--red);
}

#footer .btn-secondary:hover {
  background-color: var(--red-darker);
}

#footer .btn-close {
  background-color: var(--fg-color);
  border-radius: 50%;
}

/* Modal */

#footer .modal {
  z-index: 9998;
}

#footer .modal,
#footer select,
#footer option {
  color: var(--near-black);
  border: 0;
}

#footer .modal-header {
  background-color: var(--hl-color);
  color: var(--fg-color);
}

#footer input,
#footer select,
#footer option {
  border-radius: 50px;
  border: 0;
  padding: 5px 20px;
  background-color: var(--fg-color);
  color: var(--near-black);
  transition: 0.2s ease;
}

#footer textarea {
  transition: 0.2s ease;
  border: 0;
  background-color: var(--fg-color);
  color: var(--near-black);
}

#footer input:hover,
#footer select:hover,
#footer textarea:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

#footer input:focus,
#footer select:focus,
#footer textarea:focus {
  box-shadow: 0 0.1rem 0.3rem var(--hl-color) !important;
}
/* DARK MODE */
body.dark-mode {
  background-color: var(--dark-mode-bg);
  color: var(--dark-fg-color) !important;
}

@media screen and (min-width: 320px) {
  #footer h5 {
    margin-top: 2rem;
  }
  #footer {
    padding: 2rem 0;
  }
}

@media screen and (min-width: 768px) {
  #accordionFlushExample {
    text-align: center;
  }
  #header h1 {
    font-size: 3rem;
  }
  #header h2 {
    font-size: 2.2rem;
  }
}

@media screen and (min-width: 992px) {
  #header h1 {
    font-size: 3.5rem;
  }
  #header h2 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1200px) {
}
